.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;

    .home-content {
        width: 70%;
        margin: 10px;
        padding: 10px;

        h1 {
            color: rgb(80, 80, 80);
        }
    }
}

.intro {
    display: none;
    width: 100%;
}