.navbar {
    position: sticky;
    top: 0;
    background-color: #ececec;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;

    .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h5 {
            font-size: 1em;
            margin: 10px;
        }

        .social-icon {
            margin: 10px;
        }
    }
}